<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65382547367-0t55ac5bh2j16jm8377o5jutq9a8c8i3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65382547367-0t55ac5bh2j16jm8377o5jutq9a8c8i3</string>
	<key>API_KEY</key>
	<string>AIzaSyCyRRG70G6tF8CrOA3XUl-ZdXyYdcXboxo</string>
	<key>GCM_SENDER_ID</key>
	<string>65382547367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CS490.clean-cuts</string>
	<key>PROJECT_ID</key>
	<string>clean-cuts-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>clean-cuts-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65382547367:ios:ff924b46b6939010b8c082</string>
</dict>
</plist>